@{
    ViewData["Title"] = "Appointment Management";
    var departments = ViewBag.Departments as List<Department>;

}
<head>
    <link href="@Url.Content("~/css/AppCreate.css")" rel="stylesheet" type="text/css" />
</head>


<h2>Appointment Scheduling</h2>

<form method="post" asp-controller="Appointment" asp-action="FetchEmployees">
    <label for="departmentSelect">Departman Seç:</label>
    <select id="departmentSelect" name="departmentName" onchange="this.form.submit()">
        <option value="">-- Departman Seç --</option>
        @if (ViewBag.Departments != null)
        {
            foreach (var department in departments)
            {
                <option value="@department.Name">@department.Name</option>
            }
        }
    </select>
</form>

@if (ViewBag.Employees != null)
{
    <form method="post" asp-controller="Appointment" asp-action="FetchAvailableTimes">
        <label for="employeeSelect">Çalışan Seç:</label>
        <select id="employeeSelect" name="employeeName" onchange="this.form.submit()">
            <option value="">-- Çalışan Seç --</option>
            @foreach (var employee in ViewBag.Employees as List<Employee>)
            {
                <option value="@employee.FirstName @employee.LastName">@employee.FirstName @employee.LastName</option>
            }
        </select>
    </form>
}

@if (ViewBag.AvailableTimes != null)
{
    <form method="post" asp-controller="Appointment"  asp-action="FetchAvailableTimes">
        <label for="availableTimesSelect">Müsait Saatler:</label>
        <select id="availableTimesSelect" name="time">
            <option value="">-- Saat Seç --</option>
            @foreach (var time in ViewBag.AvailableTimes as List<string>)
            {
                <option value="@time">@time</option>
            }
        </select>
    </form>
}
<form method="post" asp-controller="Appointment" asp-action="Create">
    <button type="submit">Create Appointment</button>
</form>


