<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AppNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                     <form action="@Url.Action("Delete", "ApiConsume", new { no = item.AppNo })" method="post" style="display:inline;">
                         <button type="submit" class="btn btn-danger">
                             Delete
                         </button>
                        </form>
                </tr>
            }
        }
       
    </tbody>
</table>
